---
import Navbar from "./navbar.astro";
import { getI18N } from "../i18n";
import CardContact from "./bento-contact/card-contact.astro";
import { CONTACT_ITEMS } from "../constants/constants";
import SplitText from "./global/react-bits/text-split";
const i18n = getI18N(Astro.url.pathname);
---

<main
  id='main-bento'
  class='relative pt-8 min-[1180px]:pt-14 px-4 min-[600px]:px-8 size-full max-w-[1500px] mx-auto'
>
  <div class='flex flex-col gap-6 size-full'>
    <Navbar />
    <div class='flex flex-col gap-8 min-[900px]:gap-4 size-full'>
      <SplitText
        text={i18n.CONTACT_SECTION.TITLE}
        className='text-title text-2xl font-semibold text-center text-border leading-tight transition-colors duration-1000 ease-out h1-title opacity-entry-title-animation'
        delay={50}
        duration={0.6}
        ease='power3.out'
        splitType='chars'
        from={{ opacity: 0, y: 40 }}
        to={{ opacity: 1, y: 0 }}
        threshold={0.1}
        rootMargin='-100px'
        textAlign='center'
        tag='h1'
        client:idle
      />
      <section class='bento-grid-contact max-[900px]:mb-10'>
        {
          CONTACT_ITEMS.map((item, index) => (
            <CardContact
              key={index}
              title={item.title}
              description={item.description}
              icon={item.icon}
              link={item.link}
            />
          ))
        }
      </section>
    </div>
  </div>
</main>

<style>
  body {
    overflow-x: hidden;
  }
  @media (min-width: 900px) {
    body {
      height: 100dvh;
      overflow: hidden;
    }
  }
</style>
