---
import { getI18N } from "../../i18n";
import ButtonLink from "../global/button-link.astro";
import ArrowIcon from "../global/icons/arrow-icon.astro";
import ShapeExternalLink from "../global/icons/shape-external-link.astro";
const i18n = getI18N(Astro.url.pathname);
---

<div
  id='about-me-card'
  class='about-me-card relative flex flex-col justify-between gap-4 bg-primary text-white rounded-card p-6'
>
  <div
    class='absolute -bottom-1 -right-1 size-14 flex items-center justify-center'
  >
    <div class='absolute top-[-20px] right-[4px] size-18'>
      <ShapeExternalLink color='var(--color-external-link-background)' />
    </div>
    <ButtonLink
      href={`/experience`}
      backgroundColor='bg-primary'
      color='var(--color-secondary)'
      size='24'
      rotate='-45'
    />
  </div>
  <div class='flex flex-col gap-4'>
    <h2 class='text-3xl font-bold uppercase'>{i18n.ABOUT_ME_SECTION.TITLE}</h2>
    <p id='description' class=''></p>
  </div>
  <a
    href='/CV-Nicolas_Aguero.pdf'
    target='_blank'
    class='max-[750px]:hidden min-[900px]:hidden size-fit px-4 py-1 text-secondary text-sm border border-secondary rounded-full flex items-center gap-2 ring-offset-0 ring-1 hover:ring-2 hover:ring-offset-4 ring-offset-primary hover:[&>span]:translate-x-1 transition-all duration-300 ease-out cursor-pointer'
  >
    {i18n.ME_SECTION.CV_SECTION.BUTTON_TEXT}
    <span class='transition-transform duration-300 ease-out -rotate-45'>
      <ArrowIcon color='var(--color-secondary)' size='12' />
    </span>
  </a>
</div>

<script>
  import { getI18N } from "../../i18n";

  document.addEventListener("astro:page-load", () => {
    const i18n = getI18N(window.location.pathname);
    
    const currentYear = new Date().getFullYear();
    const startYear = 2020;
    const expYears = currentYear - startYear;
    
    const isEnglish = window.location.pathname.split('/')[1] === 'en';
    
    const formatSelfTaughtYears = (years: number) => {
      if (isEnglish) {
        return years === 1 ? `+${years} year` : `+${years} years`;
      } else {
        return years === 1 ? `+${years} año` : `+${years} años`;
      }
    };
    
    const expYearsSelfTaughtFormatted = formatSelfTaughtYears(expYears);
    
    const description = i18n.ABOUT_ME_SECTION.DESCRIPTION.replace(
      "{{EXP_YEARS}}",
      "<strong>" + i18n.ABOUT_ME_SECTION.EXP_YEARS + "</strong>"
    ).replace(
      "{{EXP_YEARS_SELF_TAUGHT}}",
      "<strong>" + expYearsSelfTaughtFormatted + "</strong>"
    );

    const descriptionElement = document.querySelector("#description");
    if (!descriptionElement) return;
    descriptionElement.innerHTML = description;
  });
</script>
